<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find htb_description)/urdf/htb.xacro'" />

   <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Launch rviz with config file -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find htb_navigation)/rviz/hector_display.rviz"> </node>

</launch>
