<?xml version="1.0"?>
<robot name="htb" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import htb description -->
  <xacro:include filename="$(find htb_description)/urdf/htb_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find htb_description)/gazebo/htb.materials.xacro" />

  <!-- Import htb ros2_control description -->
  <xacro:include filename="$(find htb_description)/ros2_control/htb.ros2_control.xacro" />

  <!-- class instantiation -->
  <xacro:htb_robot />
  <xacro:htb_ros2_control />

</robot>